/**
* Generate normal margin & padding
**/
.mg-t-0 {
  margin-top: 0px !important; }

.pd-t-0 {
  padding-top: 0px !important; }

.mg-b-0 {
  margin-bottom: 0px !important; }

.pd-b-0 {
  padding-bottom: 0px !important; }

.mg-l-0 {
  margin-left: 0px !important; }

.pd-l-0 {
  padding-left: 0px !important; }

.mg-r-0 {
  margin-right: 0px !important; }

.pd-r-0 {
  padding-right: 0px !important; }

.mg-tb-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.pd-tb-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.mg-rl-0 {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.pd-rl-0 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.mg-tbl-0 {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important; }

.pd-tbl-0 {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important; }

.mg-rbl-0 {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important; }

.pd-rbl-0 {
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important; }

.mg-trl-0 {
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important; }

.pd-trl-0 {
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important; }

.mg-trb-0 {
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important; }

.pd-trb-0 {
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important; }

.mg-0 {
  margin: 0px !important; }

.pd-0 {
  padding: 0px !important; }

.mg-t-1 {
  margin-top: 1px !important; }

.pd-t-1 {
  padding-top: 1px !important; }

.mg-b-1 {
  margin-bottom: 1px !important; }

.pd-b-1 {
  padding-bottom: 1px !important; }

.mg-l-1 {
  margin-left: 1px !important; }

.pd-l-1 {
  padding-left: 1px !important; }

.mg-r-1 {
  margin-right: 1px !important; }

.pd-r-1 {
  padding-right: 1px !important; }

.mg-tb-1 {
  margin-top: 1px !important;
  margin-bottom: 1px !important; }

.pd-tb-1 {
  padding-top: 1px !important;
  padding-bottom: 1px !important; }

.mg-rl-1 {
  margin-left: 1px !important;
  margin-right: 1px !important; }

.pd-rl-1 {
  padding-left: 1px !important;
  padding-right: 1px !important; }

.mg-tbl-1 {
  margin-top: 1px !important;
  margin-left: 1px !important;
  margin-bottom: 1px !important; }

.pd-tbl-1 {
  padding-top: 1px !important;
  padding-left: 1px !important;
  padding-bottom: 1px !important; }

.mg-rbl-1 {
  margin-right: 1px !important;
  margin-bottom: 1px !important;
  margin-left: 1px !important; }

.pd-rbl-1 {
  padding-right: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 1px !important; }

.mg-trl-1 {
  margin-top: 1px !important;
  margin-right: 1px !important;
  margin-left: 1px !important; }

.pd-trl-1 {
  padding-top: 1px !important;
  padding-right: 1px !important;
  padding-left: 1px !important; }

.mg-trb-1 {
  margin-top: 1px !important;
  margin-right: 1px !important;
  margin-bottom: 1px !important; }

.pd-trb-1 {
  padding-top: 1px !important;
  padding-right: 1px !important;
  padding-bottom: 1px !important; }

.mg-1 {
  margin: 1px !important; }

.pd-1 {
  padding: 1px !important; }

.mg-t-2 {
  margin-top: 2px !important; }

.pd-t-2 {
  padding-top: 2px !important; }

.mg-b-2 {
  margin-bottom: 2px !important; }

.pd-b-2 {
  padding-bottom: 2px !important; }

.mg-l-2 {
  margin-left: 2px !important; }

.pd-l-2 {
  padding-left: 2px !important; }

.mg-r-2 {
  margin-right: 2px !important; }

.pd-r-2 {
  padding-right: 2px !important; }

.mg-tb-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important; }

.pd-tb-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important; }

.mg-rl-2 {
  margin-left: 2px !important;
  margin-right: 2px !important; }

.pd-rl-2 {
  padding-left: 2px !important;
  padding-right: 2px !important; }

.mg-tbl-2 {
  margin-top: 2px !important;
  margin-left: 2px !important;
  margin-bottom: 2px !important; }

.pd-tbl-2 {
  padding-top: 2px !important;
  padding-left: 2px !important;
  padding-bottom: 2px !important; }

.mg-rbl-2 {
  margin-right: 2px !important;
  margin-bottom: 2px !important;
  margin-left: 2px !important; }

.pd-rbl-2 {
  padding-right: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 2px !important; }

.mg-trl-2 {
  margin-top: 2px !important;
  margin-right: 2px !important;
  margin-left: 2px !important; }

.pd-trl-2 {
  padding-top: 2px !important;
  padding-right: 2px !important;
  padding-left: 2px !important; }

.mg-trb-2 {
  margin-top: 2px !important;
  margin-right: 2px !important;
  margin-bottom: 2px !important; }

.pd-trb-2 {
  padding-top: 2px !important;
  padding-right: 2px !important;
  padding-bottom: 2px !important; }

.mg-2 {
  margin: 2px !important; }

.pd-2 {
  padding: 2px !important; }

.mg-t-5 {
  margin-top: 5px !important; }

.pd-t-5 {
  padding-top: 5px !important; }

.mg-b-5 {
  margin-bottom: 5px !important; }

.pd-b-5 {
  padding-bottom: 5px !important; }

.mg-l-5 {
  margin-left: 5px !important; }

.pd-l-5 {
  padding-left: 5px !important; }

.mg-r-5 {
  margin-right: 5px !important; }

.pd-r-5 {
  padding-right: 5px !important; }

.mg-tb-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.pd-tb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.mg-rl-5 {
  margin-left: 5px !important;
  margin-right: 5px !important; }

.pd-rl-5 {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.mg-tbl-5 {
  margin-top: 5px !important;
  margin-left: 5px !important;
  margin-bottom: 5px !important; }

.pd-tbl-5 {
  padding-top: 5px !important;
  padding-left: 5px !important;
  padding-bottom: 5px !important; }

.mg-rbl-5 {
  margin-right: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 5px !important; }

.pd-rbl-5 {
  padding-right: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important; }

.mg-trl-5 {
  margin-top: 5px !important;
  margin-right: 5px !important;
  margin-left: 5px !important; }

.pd-trl-5 {
  padding-top: 5px !important;
  padding-right: 5px !important;
  padding-left: 5px !important; }

.mg-trb-5 {
  margin-top: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 5px !important; }

.pd-trb-5 {
  padding-top: 5px !important;
  padding-right: 5px !important;
  padding-bottom: 5px !important; }

.mg-5 {
  margin: 5px !important; }

.pd-5 {
  padding: 5px !important; }

.mg-t-10 {
  margin-top: 10px !important; }

.pd-t-10 {
  padding-top: 10px !important; }

.mg-b-10 {
  margin-bottom: 10px !important; }

.pd-b-10 {
  padding-bottom: 10px !important; }

.mg-l-10 {
  margin-left: 10px !important; }

.pd-l-10 {
  padding-left: 10px !important; }

.mg-r-10 {
  margin-right: 10px !important; }

.pd-r-10 {
  padding-right: 10px !important; }

.mg-tb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.pd-tb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.mg-rl-10 {
  margin-left: 10px !important;
  margin-right: 10px !important; }

.pd-rl-10 {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.mg-tbl-10 {
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-bottom: 10px !important; }

.pd-tbl-10 {
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-bottom: 10px !important; }

.mg-rbl-10 {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important; }

.pd-rbl-10 {
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important; }

.mg-trl-10 {
  margin-top: 10px !important;
  margin-right: 10px !important;
  margin-left: 10px !important; }

.pd-trl-10 {
  padding-top: 10px !important;
  padding-right: 10px !important;
  padding-left: 10px !important; }

.mg-trb-10 {
  margin-top: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important; }

.pd-trb-10 {
  padding-top: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important; }

.mg-10 {
  margin: 10px !important; }

.pd-10 {
  padding: 10px !important; }

.mg-t-15 {
  margin-top: 15px !important; }

.pd-t-15 {
  padding-top: 15px !important; }

.mg-b-15 {
  margin-bottom: 15px !important; }

.pd-b-15 {
  padding-bottom: 15px !important; }

.mg-l-15 {
  margin-left: 15px !important; }

.pd-l-15 {
  padding-left: 15px !important; }

.mg-r-15 {
  margin-right: 15px !important; }

.pd-r-15 {
  padding-right: 15px !important; }

.mg-tb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.pd-tb-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.mg-rl-15 {
  margin-left: 15px !important;
  margin-right: 15px !important; }

.pd-rl-15 {
  padding-left: 15px !important;
  padding-right: 15px !important; }

.mg-tbl-15 {
  margin-top: 15px !important;
  margin-left: 15px !important;
  margin-bottom: 15px !important; }

.pd-tbl-15 {
  padding-top: 15px !important;
  padding-left: 15px !important;
  padding-bottom: 15px !important; }

.mg-rbl-15 {
  margin-right: 15px !important;
  margin-bottom: 15px !important;
  margin-left: 15px !important; }

.pd-rbl-15 {
  padding-right: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 15px !important; }

.mg-trl-15 {
  margin-top: 15px !important;
  margin-right: 15px !important;
  margin-left: 15px !important; }

.pd-trl-15 {
  padding-top: 15px !important;
  padding-right: 15px !important;
  padding-left: 15px !important; }

.mg-trb-15 {
  margin-top: 15px !important;
  margin-right: 15px !important;
  margin-bottom: 15px !important; }

.pd-trb-15 {
  padding-top: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 15px !important; }

.mg-15 {
  margin: 15px !important; }

.pd-15 {
  padding: 15px !important; }

.mg-t-20 {
  margin-top: 20px !important; }

.pd-t-20 {
  padding-top: 20px !important; }

.mg-b-20 {
  margin-bottom: 20px !important; }

.pd-b-20 {
  padding-bottom: 20px !important; }

.mg-l-20 {
  margin-left: 20px !important; }

.pd-l-20 {
  padding-left: 20px !important; }

.mg-r-20 {
  margin-right: 20px !important; }

.pd-r-20 {
  padding-right: 20px !important; }

.mg-tb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.pd-tb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.mg-rl-20 {
  margin-left: 20px !important;
  margin-right: 20px !important; }

.pd-rl-20 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.mg-tbl-20 {
  margin-top: 20px !important;
  margin-left: 20px !important;
  margin-bottom: 20px !important; }

.pd-tbl-20 {
  padding-top: 20px !important;
  padding-left: 20px !important;
  padding-bottom: 20px !important; }

.mg-rbl-20 {
  margin-right: 20px !important;
  margin-bottom: 20px !important;
  margin-left: 20px !important; }

.pd-rbl-20 {
  padding-right: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 20px !important; }

.mg-trl-20 {
  margin-top: 20px !important;
  margin-right: 20px !important;
  margin-left: 20px !important; }

.pd-trl-20 {
  padding-top: 20px !important;
  padding-right: 20px !important;
  padding-left: 20px !important; }

.mg-trb-20 {
  margin-top: 20px !important;
  margin-right: 20px !important;
  margin-bottom: 20px !important; }

.pd-trb-20 {
  padding-top: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 20px !important; }

.mg-20 {
  margin: 20px !important; }

.pd-20 {
  padding: 20px !important; }

.mg-t-25 {
  margin-top: 25px !important; }

.pd-t-25 {
  padding-top: 25px !important; }

.mg-b-25 {
  margin-bottom: 25px !important; }

.pd-b-25 {
  padding-bottom: 25px !important; }

.mg-l-25 {
  margin-left: 25px !important; }

.pd-l-25 {
  padding-left: 25px !important; }

.mg-r-25 {
  margin-right: 25px !important; }

.pd-r-25 {
  padding-right: 25px !important; }

.mg-tb-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important; }

.pd-tb-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important; }

.mg-rl-25 {
  margin-left: 25px !important;
  margin-right: 25px !important; }

.pd-rl-25 {
  padding-left: 25px !important;
  padding-right: 25px !important; }

.mg-tbl-25 {
  margin-top: 25px !important;
  margin-left: 25px !important;
  margin-bottom: 25px !important; }

.pd-tbl-25 {
  padding-top: 25px !important;
  padding-left: 25px !important;
  padding-bottom: 25px !important; }

.mg-rbl-25 {
  margin-right: 25px !important;
  margin-bottom: 25px !important;
  margin-left: 25px !important; }

.pd-rbl-25 {
  padding-right: 25px !important;
  padding-bottom: 25px !important;
  padding-left: 25px !important; }

.mg-trl-25 {
  margin-top: 25px !important;
  margin-right: 25px !important;
  margin-left: 25px !important; }

.pd-trl-25 {
  padding-top: 25px !important;
  padding-right: 25px !important;
  padding-left: 25px !important; }

.mg-trb-25 {
  margin-top: 25px !important;
  margin-right: 25px !important;
  margin-bottom: 25px !important; }

.pd-trb-25 {
  padding-top: 25px !important;
  padding-right: 25px !important;
  padding-bottom: 25px !important; }

.mg-25 {
  margin: 25px !important; }

.pd-25 {
  padding: 25px !important; }

.mg-t-30 {
  margin-top: 30px !important; }

.pd-t-30 {
  padding-top: 30px !important; }

.mg-b-30 {
  margin-bottom: 30px !important; }

.pd-b-30 {
  padding-bottom: 30px !important; }

.mg-l-30 {
  margin-left: 30px !important; }

.pd-l-30 {
  padding-left: 30px !important; }

.mg-r-30 {
  margin-right: 30px !important; }

.pd-r-30 {
  padding-right: 30px !important; }

.mg-tb-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.pd-tb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.mg-rl-30 {
  margin-left: 30px !important;
  margin-right: 30px !important; }

.pd-rl-30 {
  padding-left: 30px !important;
  padding-right: 30px !important; }

.mg-tbl-30 {
  margin-top: 30px !important;
  margin-left: 30px !important;
  margin-bottom: 30px !important; }

.pd-tbl-30 {
  padding-top: 30px !important;
  padding-left: 30px !important;
  padding-bottom: 30px !important; }

.mg-rbl-30 {
  margin-right: 30px !important;
  margin-bottom: 30px !important;
  margin-left: 30px !important; }

.pd-rbl-30 {
  padding-right: 30px !important;
  padding-bottom: 30px !important;
  padding-left: 30px !important; }

.mg-trl-30 {
  margin-top: 30px !important;
  margin-right: 30px !important;
  margin-left: 30px !important; }

.pd-trl-30 {
  padding-top: 30px !important;
  padding-right: 30px !important;
  padding-left: 30px !important; }

.mg-trb-30 {
  margin-top: 30px !important;
  margin-right: 30px !important;
  margin-bottom: 30px !important; }

.pd-trb-30 {
  padding-top: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 30px !important; }

.mg-30 {
  margin: 30px !important; }

.pd-30 {
  padding: 30px !important; }

.mg-t-40 {
  margin-top: 40px !important; }

.pd-t-40 {
  padding-top: 40px !important; }

.mg-b-40 {
  margin-bottom: 40px !important; }

.pd-b-40 {
  padding-bottom: 40px !important; }

.mg-l-40 {
  margin-left: 40px !important; }

.pd-l-40 {
  padding-left: 40px !important; }

.mg-r-40 {
  margin-right: 40px !important; }

.pd-r-40 {
  padding-right: 40px !important; }

.mg-tb-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.pd-tb-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.mg-rl-40 {
  margin-left: 40px !important;
  margin-right: 40px !important; }

.pd-rl-40 {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.mg-tbl-40 {
  margin-top: 40px !important;
  margin-left: 40px !important;
  margin-bottom: 40px !important; }

.pd-tbl-40 {
  padding-top: 40px !important;
  padding-left: 40px !important;
  padding-bottom: 40px !important; }

.mg-rbl-40 {
  margin-right: 40px !important;
  margin-bottom: 40px !important;
  margin-left: 40px !important; }

.pd-rbl-40 {
  padding-right: 40px !important;
  padding-bottom: 40px !important;
  padding-left: 40px !important; }

.mg-trl-40 {
  margin-top: 40px !important;
  margin-right: 40px !important;
  margin-left: 40px !important; }

.pd-trl-40 {
  padding-top: 40px !important;
  padding-right: 40px !important;
  padding-left: 40px !important; }

.mg-trb-40 {
  margin-top: 40px !important;
  margin-right: 40px !important;
  margin-bottom: 40px !important; }

.pd-trb-40 {
  padding-top: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 40px !important; }

.mg-40 {
  margin: 40px !important; }

.pd-40 {
  padding: 40px !important; }

.mg-t-50 {
  margin-top: 50px !important; }

.pd-t-50 {
  padding-top: 50px !important; }

.mg-b-50 {
  margin-bottom: 50px !important; }

.pd-b-50 {
  padding-bottom: 50px !important; }

.mg-l-50 {
  margin-left: 50px !important; }

.pd-l-50 {
  padding-left: 50px !important; }

.mg-r-50 {
  margin-right: 50px !important; }

.pd-r-50 {
  padding-right: 50px !important; }

.mg-tb-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.pd-tb-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.mg-rl-50 {
  margin-left: 50px !important;
  margin-right: 50px !important; }

.pd-rl-50 {
  padding-left: 50px !important;
  padding-right: 50px !important; }

.mg-tbl-50 {
  margin-top: 50px !important;
  margin-left: 50px !important;
  margin-bottom: 50px !important; }

.pd-tbl-50 {
  padding-top: 50px !important;
  padding-left: 50px !important;
  padding-bottom: 50px !important; }

.mg-rbl-50 {
  margin-right: 50px !important;
  margin-bottom: 50px !important;
  margin-left: 50px !important; }

.pd-rbl-50 {
  padding-right: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 50px !important; }

.mg-trl-50 {
  margin-top: 50px !important;
  margin-right: 50px !important;
  margin-left: 50px !important; }

.pd-trl-50 {
  padding-top: 50px !important;
  padding-right: 50px !important;
  padding-left: 50px !important; }

.mg-trb-50 {
  margin-top: 50px !important;
  margin-right: 50px !important;
  margin-bottom: 50px !important; }

.pd-trb-50 {
  padding-top: 50px !important;
  padding-right: 50px !important;
  padding-bottom: 50px !important; }

.mg-50 {
  margin: 50px !important; }

.pd-50 {
  padding: 50px !important; }

.mg-t-60 {
  margin-top: 60px !important; }

.pd-t-60 {
  padding-top: 60px !important; }

.mg-b-60 {
  margin-bottom: 60px !important; }

.pd-b-60 {
  padding-bottom: 60px !important; }

.mg-l-60 {
  margin-left: 60px !important; }

.pd-l-60 {
  padding-left: 60px !important; }

.mg-r-60 {
  margin-right: 60px !important; }

.pd-r-60 {
  padding-right: 60px !important; }

.mg-tb-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important; }

.pd-tb-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important; }

.mg-rl-60 {
  margin-left: 60px !important;
  margin-right: 60px !important; }

.pd-rl-60 {
  padding-left: 60px !important;
  padding-right: 60px !important; }

.mg-tbl-60 {
  margin-top: 60px !important;
  margin-left: 60px !important;
  margin-bottom: 60px !important; }

.pd-tbl-60 {
  padding-top: 60px !important;
  padding-left: 60px !important;
  padding-bottom: 60px !important; }

.mg-rbl-60 {
  margin-right: 60px !important;
  margin-bottom: 60px !important;
  margin-left: 60px !important; }

.pd-rbl-60 {
  padding-right: 60px !important;
  padding-bottom: 60px !important;
  padding-left: 60px !important; }

.mg-trl-60 {
  margin-top: 60px !important;
  margin-right: 60px !important;
  margin-left: 60px !important; }

.pd-trl-60 {
  padding-top: 60px !important;
  padding-right: 60px !important;
  padding-left: 60px !important; }

.mg-trb-60 {
  margin-top: 60px !important;
  margin-right: 60px !important;
  margin-bottom: 60px !important; }

.pd-trb-60 {
  padding-top: 60px !important;
  padding-right: 60px !important;
  padding-bottom: 60px !important; }

.mg-60 {
  margin: 60px !important; }

.pd-60 {
  padding: 60px !important; }

.mg-t-100 {
  margin-top: 100px !important; }

.pd-t-100 {
  padding-top: 100px !important; }

.mg-b-100 {
  margin-bottom: 100px !important; }

.pd-b-100 {
  padding-bottom: 100px !important; }

.mg-l-100 {
  margin-left: 100px !important; }

.pd-l-100 {
  padding-left: 100px !important; }

.mg-r-100 {
  margin-right: 100px !important; }

.pd-r-100 {
  padding-right: 100px !important; }

.mg-tb-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important; }

.pd-tb-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important; }

.mg-rl-100 {
  margin-left: 100px !important;
  margin-right: 100px !important; }

.pd-rl-100 {
  padding-left: 100px !important;
  padding-right: 100px !important; }

.mg-tbl-100 {
  margin-top: 100px !important;
  margin-left: 100px !important;
  margin-bottom: 100px !important; }

.pd-tbl-100 {
  padding-top: 100px !important;
  padding-left: 100px !important;
  padding-bottom: 100px !important; }

.mg-rbl-100 {
  margin-right: 100px !important;
  margin-bottom: 100px !important;
  margin-left: 100px !important; }

.pd-rbl-100 {
  padding-right: 100px !important;
  padding-bottom: 100px !important;
  padding-left: 100px !important; }

.mg-trl-100 {
  margin-top: 100px !important;
  margin-right: 100px !important;
  margin-left: 100px !important; }

.pd-trl-100 {
  padding-top: 100px !important;
  padding-right: 100px !important;
  padding-left: 100px !important; }

.mg-trb-100 {
  margin-top: 100px !important;
  margin-right: 100px !important;
  margin-bottom: 100px !important; }

.pd-trb-100 {
  padding-top: 100px !important;
  padding-right: 100px !important;
  padding-bottom: 100px !important; }

.mg-100 {
  margin: 100px !important; }

.pd-100 {
  padding: 100px !important; }

.ui-collapsible-body-wrapper {
  height: auto !important; }

a {
  text-decoration: none;
  color: #333; }

.ui-radio {
  margin-top: 10px;
  -webkit-flex-basis: 33%;
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%;
  max-width: 33%; }
  .ui-radio .ui-radio-label-text {
    font-size: 12px; }
  .ui-radio .ui-radio-border {
    width: 12px;
    height: 12px; }
  .ui-radio .ui-radio-inner-dot {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px; }

.tab-header .title {
  font-size: 12px;
  color: #999; }

#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  #container .container-row {
    height: 100%; }

.api-panel {
  position: relative; }
  .api-panel .ui-collapsible-header-content {
    width: 100%; }
  .api-panel .ui-toolbar-title {
    padding-left: 10px; }
  .api-panel .api-group {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    overflow: auto; }
    .api-panel .api-group .api-item {
      padding: 10px;
      display: block; }
      .api-panel .api-group .api-item.active {
        background: #ededed; }
      .api-panel .api-group .api-item .api-name {
        font-size: 14px;
        display: block; }
      .api-panel .api-group .api-item .api-type {
        font-size: 13px;
        color: #999; }
      .api-panel .api-group .api-item .api-uri {
        font-size: 13px;
        color: #999; }

.request-panel .request-uri {
  margin: 10px 0; }
.request-panel .request-parameters {
  margin-top: 20px; }
  .request-panel .request-parameters .ui-tabs .ui-tabs-header .ui-tab-header-item {
    height: 32px;
    padding: 0; }
    .request-panel .request-parameters .ui-tabs .ui-tabs-header .ui-tab-header-item .ui-tab-header-item-text {
      font-size: 10px; }
  .request-panel .request-parameters .ui-tabs .tab-content .title {
    font-size: 12px; }
  .request-panel .request-parameters .ui-tabs .tab-content .ui-textbox-input {
    font-size: 12px; }

.response-panel .response-header {
  height: 40px; }
.response-panel .response-content .content-header .ui-tabs .ui-tabs-header .ui-tab-header-item {
  height: 32px;
  padding: 0; }
  .response-panel .response-content .content-header .ui-tabs .ui-tabs-header .ui-tab-header-item .ui-tab-header-item-text {
    font-size: 10px; }
.response-panel .response-content .content-header .ui-tabs .tab-content .title {
  font-size: 12px; }

/*# sourceMappingURL=style.css.map */