@import 'general/gap';

$black: #333;
$border-color: #E0E0E0;
$desc-color: #999;

.ui-collapsible-body-wrapper {
	height: auto !important;
}

a{
	text-decoration: none;
	color: $black;
}

.ui-radio{
	margin-top: 10px;
	flex-basis: 33%;
	max-width: 33%;

	.ui-radio-label-text{
		font-size: 12px;
	}
	.ui-radio-border{
		width: 12px;
		height: 12px;
	}
	.ui-radio-inner-dot{
		width: 12px;
		height: 12px;
		top:2px;
		left:2px;
	}
}


.tab-header{
	.title{
		font-size: 12px;
		color:$desc-color;
	}
}



#container{
	position: absolute;
	left:0;
	right: 0;
	top:0;
	bottom:0;
	.container-row{
		height: 100%;
	}
}

.api-panel {
	position: relative;
	.ui-collapsible-header-content{
		width: 100%;
	}
	.ui-toolbar-title{
		padding-left: 10px;
	}
	.api-group {
		position: absolute;
		top:40px;
		left:0;
		width: 100%;
		overflow: auto;
		.api-item {
			&.active{
				background: lighten($border-color, 5%);
			}
			padding: 10px;
			display: block;
			.api-name {
				font-size: 14px;
				display: block;
			}
			.api-type {
				font-size: 13px;
				color: $desc-color;
			}
			.api-uri {
				font-size: 13px;
				color: $desc-color;
			}
		}
	}
}

.request-panel{
	.request-uri{
		margin: 10px 0;
	}
	.request-parameters{
		margin-top: 20px;
		.ui-tabs{
			.ui-tabs-header{
				.ui-tab-header-item{
					height: 32px;
					padding: 0;
					.ui-tab-header-item-text{
						font-size: 10px;
					}
				}
			}
			.tab-content{
				.title{
					font-size: 12px;
				}
				.ui-textbox-input{
					font-size: 12px;
				}
			}
		}
	}
}

.response-panel{
	.response-header{
		height: 40px;
	}
	.response-content{

		.content-header{
			.ui-tabs{
				.ui-tabs-header{
					.ui-tab-header-item{
						height: 32px;
						padding: 0;
						.ui-tab-header-item-text{
							font-size: 10px;
						}
					}
				}
				.tab-content{
					.title{
						font-size: 12px;
					}
				}
			}
		}
		.content-detail{

		}
	}
}
